.contato_principal, .conteudo_form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;
    gap: 0.5em;

}

.contato_principal{
    justify-content: space-around;
}


form{
    width: 100%;
    max-width: 600px;
    
}

.fieldset-contato{
    border: 1px solid var(--cor-fonte-preto);
}

fieldset{
    display: flex;
    flex-flow: column nowrap;
    padding: 1em;
    gap: 1em;
    
}

input{
    background-color: var(--cor-branco-input);
    height: 37px;
    font-size: 1,25em;
    font-weight: 500;
    font-family: var(--fonte-secundaria);
    color: var(--cor-fonte-preto);
}

input[type="submit"]{
    background: var(--cor-fonte-verde);
    border-radius: 6px;
    width: 40%;
    align-self: center;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    
    
}

.mensagem{
    height: 73px;
}

.contato_principal__texto-conexao, .link_login{
    font-family: var( --fonte-primaria);
    color: var(--cor-fonte-preto);
    font-weight: 400;

}

.link_login{
    align-self: center;
}

.link_login a{
    text-decoration: none;
    color: var(--cor-fonte-preto);
    font-family: var(--fonte-primaria);
    font-weight: 400;


}