.principal{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.posts_depoimentos{
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}



.principal__titulo{
    display: block;
    text-align: center;
    color: var(--cor-fonte-amarelo);
    font-size: 2em;
    margin-bottom: 0.5em;
    
}

.depoimentos_titulo_principal{
    font-weight: 700;
}

.card{
    width: 100%;
    max-width: 306px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border: 1px solid #000000;
    padding: 1em;
    font-family: --fonte-secundaria;
    margin: 1em;
}

.card__titulo{
    color: var(--cor-fonte-preto);
    font-size: 1.2em;
    flex-basis: 100%;

}

.card__preco{
    font-size: 1em;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    gap: 0.7em;
}

.card__preco_destaque{
    color: var(--cor-fonte-amarelo);
    font-size: 1.4em;
}

.card__button{
    padding: 0.8em;
    background-color: var(--cor-fonte-verde);
    text-align: center;
    color: var(--cor-fonte-branca);
    text-decoration: none;
    border-radius: 12px;
}

.depoimentos_titulo{
    margin: 1em auto;
}