@import url(reset.css);
@import url(header.css);
@import url(main.css);
@import url('section.css');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;700;800&display=swap');

:root {
    --cor-principal: #0A4D68;
    --cor-secundaria: #088395;
    --cor-fonte-branca: #fff;
    --cor-branco-input: #D9D9D9;
    --cor-fonte-amarelo: #EB9B00;
    --cor-fonte-preto: #000;
    --cor-fonte-verde: #00FFCA;

    --fonte-primaria: 'Noto Sans Mono', monospace;
    --fonte-secundaria: 'Roboto';
    --fonte-links: 'Poppins', sans-serif;
}

/* tags */

*{
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-links);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5.2em 1fr 3em;

    grid-template-areas:
        'cabecalho'
        'main'
        'rodape'

    ;
}

/* class */



.rodape {
    grid-area: rodape;
    background: linear-gradient(var(--cor-principal), var(--cor-secundaria));
    color: var(--cor-fonte-branca);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (min-width:801px) {
    .menu, .cabecalho__menu__links__titulo{
        display: none;
    }

    .cabecalho__menu__links{
        max-width: 40%;
        display: flex;
        background: transparent;
        position: static;
        order: 1;
        justify-content: space-around;
        

    }

    .perfil{
        order: 2;
    }

    .cabecalho__menu__links__item a{
        border: 3px solid var(--cor-fonte-branca);
        border-radius: 14px;
        margin: auto 0.5em;

    }

}